@charset "UTF-8";
/* CSS Document */
@font-face {
    font-family: 'futurabold';
    src: url('unicode.futurab-webfont.woff2') format('woff2'),
         url('unicode.futurab-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
header{
	min-width: 100%;
	height: 80px;
	background-color:#C94881;
	
}

#tagline{
	margin-top: 200px;
	z-index: 10;
	background-image: url(../images/tagline.png);
	background-repeat: no-repeat;
	padding-top: 200px;
	width: 200px;
	
}

.container{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
}
#logo{
	float: left;
	position: relative;
	display: inline;
	margin-top: 20px;
	height: 70px;
}
#banner{
	width: 100%;
	height: auto;
	left: 0px;
	right: 0px;
}
nav{
	float: right;
	position: relative;
	display: inline;
	width: 450px;
	padding-top: 0px;
	margin-top: 20px;
}
nav ul li{
	float: left;
	list-style: none;
	padding-top: 15px;
}
nav ul li a{
	text-decoration: none;
	font-size: 12pt;
	font-family: 'futurabold';
	color: #FFFFFF;
	padding-left: 20px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#icon{
	margin-top: -100px;
}





