@charset "UTF-8";
/* CSS Document */
@font-face {
    font-family: 'futurabold';
    src: url('unicode.futurab-webfont.woff2') format('woff2'),
         url('unicode.futurab-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  margin: 0;
  padding: 0;
  background-image: url(../images/bg1.png);
  background-repeat: repeat-x;
  background-size: auto;
  background-attachment: scroll;
  
}

/* ~~ Top Navigation Bar ~~ */

/*
#topcon {
  margin: 20;
  height: 70px;
}
*/

.topnav {
  background-color: #C94881;
  height: 75px;
  width: 100%;
  text-align:right;
}
.topnav img{
float:left;
padding-left: 60px;
padding-top: 20px;
width: 150px;
}
.topnav ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.topnav li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.topnav li a {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 85px;
  font-family: 'futurabold';
  text-decoration: none;
  padding: 25px;
}

.topnav li a:hover {
	color: #085EAA;
}

#menu {
  float: right;
}

h1 {
	margin-left: 70px;
	margin-top: 150px;
/*	position: absolute;*/
	font-family: 'futurabold';
	font-size: 30pt;
	color: #085EAA;
	text-align: center;
	
}

.banner {
	text-align: right;
}

.contact {
	float: left;
	margin-left: 25px;
	margin-bottom: 5px
}

p1 {
	font-family: 'futurabold';
	font-size: 15pt;
	color: #085EAA;
}

p2 {
	color: #085EAA;
	font-size: 10pt;
	margin-left: 10px;
	position: relative;
	bottom: 3.5px;
}

h3, h4 {
	margin-left: 70px;
	font-family: 'futurabold';
	font-size: 20pt;
	color: #085EAA;
	
}

#images{
    text-align:center;
    margin: 10px auto;
}
#images a{
/*    margin:0px 20px;*/
    display:inline-block;
    text-decoration:none;
    color: #085EAA;
}

.caption {
	font-family: 'futurabold';
	padding-top: 45px;
	font-size: 16pt
}

/*
.close {
	position: fixed;
}
*/
